.banner {
    height: 20vh;
    position: relative;
}

.image {
    background-image: url('../assets/app/images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 4px;
    position: absolute;
    margin-top: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .image {
        background-image: url('../assets/app/images/bg2.jpg');
    }
}