.footer {
    padding: 20px;
    background-color:var(--bg-color);
    color: var(--main-text-color);
    text-align: center;
    p {
        padding: 2rem;   
    }
    .social-network {
      font-size: 16px;
      padding: 5px 10px;
      a {
        text-decoration: none;
        color: var(--main-text-color);
      }
    }
}