.footer {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

.footer p {
  margin-bottom: 10px;
}

.social-network {
  margin-top: 10px;
}

.social-network a {
  text-decoration: none;
  margin: 0 15px;
  transition: transform 0.5s ease;
}

.social-network a:hover .social-icon {
  transform: scale(0.9);
}

.social-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .social-network a {
    margin: 0 10px;
  }

  .social-icon {
    width: 25px;
    height: 25px;
  }
}